[mysqld]
bind-address=0.0.0.0

log-bin=server-binlog
binlog_format=ROW
binlog_row_image=FULL
binlog_row_metadata=FULL
binlog-checksum=NONE
binlog_rows_query_log_events=ON
max_binlog_size=300M
innodb_flush_log_at_trx_commit=1
sync_binlog=1
log_bin_trust_function_creators=1
innodb_buffer_pool_size=4294967295
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init_connect=SET collation_connection = utf8mb4_unicode_ci
log_bin_trust_function_creators = 1
federated = 1
max_allowed_packet      = 64M
local_infile=1